<h1>Eventos</h1>

<p *ngIf="!eventos"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="eventos">
  <thead>
    <tr>
      <th>ID</th>
      <th>Dia</th>
      <th>Tag</th>
      <th>Valor</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{ evento.id }}</td>
      <td>{{ evento.timeStamp | date: 'dd-MM-yyyy'}}</td>
      <td>{{ evento.tag }}</td>
      <td>{{ evento.valor }}</td>
      <td>{{ evento.descricaoStatus }}</td>
    </tr>
  </tbody>
</table>
